<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>User Profile</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>

<body>
	<div class="profile-container">
		<h1 class="profile-heading">User Profile</h1>
		<div class="profile-info">
			<strong>Username:</strong> <span th:text="${user.username}"></span>
		</div>
		<!-- Include other user information fields as needed -->
		<button class="edit-button">Edit Profile</button>
	</div>
</body>

</html>